.author-image {
    border-radius: inherit;
    img {
        border-radius: inherit;
    }
}
.header-button {
    height: 52px;
}
.menu-item {
    &.active,
    &:hover {
        background-color: #f1fbf7;
        color: #1dc071;
    }
}
.pagination-item {
    &:hover {
        color: white;
        background-color: #a4d96c;
    }
    .is-current {
        color: white;
        background-color: #a4d96c;
    }
}
