@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;1,400;1,500&display=swap");
@import "style";
@import "responsive";


*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
    outline: none;
    // border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
.container-main {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 20px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.home-block {
    @apply pb-4 mt-8;
    @media screen and (min-width: 1024px) {
        @apply pb-[60px] mt-10;
    }
}

.grid-layout {
    @media screen and (min-width: 1024px) {
        @apply grid grid-cols-3 gap-12;
    }
    &--primary {
        @apply auto-cols-[220px];
        @media screen and (min-width: 1024px) {
            @apply grid-cols-4;
        }
    }
}

.title {
    &-big {
        font-size: 22px;
        line-height: 28px;
        font-weight: 600;
        color: #232323;
    }
}

.entry-content {
    font-size: 16px;
    h2,
    h3,
    h4 {
        font-weight: bold;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 26px;
    }
    h4 {
        font-size: 22px;
    }
    p {
        margin-bottom: 20px;
        line-height: 2;
    }
    figure {
        margin-bottom: 20px;
        img {
            border-radius: 20px;
            margin-bottom: 10px;
        }
    }
    figcaption {
        text-align: center;
        font-style: italic;
        font-size: 14px;
        color: #6b6b6b;
    }
}


